---
http_interactions:
- request:
    method: get
    uri: http://www.claritin.com/weatherpollenservice/weatherpollenservice.svc/getforecast/07302
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "\"{\\\"pollenForecast\\\":{\\\"zip\\\":\\\"07302\\\",\\\"city\\\":\\\"JERSEY
        CITY\\\",\\\"state\\\":\\\"NJ\\\",\\\"forecast\\\":[0.5,2.9,2.2,0.1],\\\"pp\\\":\\\"Ragweed.\\\",\\\"timestamp\\\":\\\"Oct
        8, 2014 6:31:37 PM\\\"},\\\"weatherForecast\\\":{\\\"date\\\":\\\"Oct 8, 2014
        8:46:07 PM\\\",\\\"city\\\":\\\"Jersey City\\\",\\\"state\\\":\\\"NJ\\\",\\\"zip\\\":\\\"07302\\\",\\\"forecast\\\":[{\\\"lowF\\\":51,\\\"highF\\\":71,\\\"iconDay\\\":\\\"3200\\\",\\\"iconNight\\\":\\\"3100\\\",\\\"skyDay\\\":32,\\\"skyNight\\\":31,\\\"phraseDay\\\":\\\"Sunny\\\",\\\"phraseNight\\\":\\\"Clear\\\",\\\"date\\\":\\\"Oct
        8, 2014 12:00:00 AM\\\"},{\\\"lowF\\\":50,\\\"highF\\\":68,\\\"iconDay\\\":\\\"3400\\\",\\\"iconNight\\\":\\\"2900\\\",\\\"skyDay\\\":34,\\\"skyNight\\\":29,\\\"phraseDay\\\":\\\"Mostly
        Sunny\\\",\\\"phraseNight\\\":\\\"Partly Cloudy\\\",\\\"date\\\":\\\"Oct 9,
        2014 12:00:00 AM\\\"},{\\\"lowF\\\":53,\\\"highF\\\":65,\\\"iconDay\\\":\\\"3000\\\",\\\"iconNight\\\":\\\"1200\\\",\\\"skyDay\\\":30,\\\"skyNight\\\":12,\\\"phraseDay\\\":\\\"Partly
        Cloudy\\\",\\\"phraseNight\\\":\\\"Rain\\\",\\\"date\\\":\\\"Oct 10, 2014
        12:00:00 AM\\\"},{\\\"lowF\\\":48,\\\"highF\\\":60,\\\"iconDay\\\":\\\"1200\\\",\\\"iconNight\\\":\\\"2900\\\",\\\"skyDay\\\":12,\\\"skyNight\\\":29,\\\"phraseDay\\\":\\\"Rain\\\",\\\"phraseNight\\\":\\\"Partly
        Cloudy\\\",\\\"date\\\":\\\"Oct 11, 2014 12:00:00 AM\\\"},{\\\"lowF\\\":54,\\\"highF\\\":63,\\\"iconDay\\\":\\\"3000\\\",\\\"iconNight\\\":\\\"1100\\\",\\\"skyDay\\\":30,\\\"skyNight\\\":11,\\\"phraseDay\\\":\\\"Partly
        Cloudy\\\",\\\"phraseNight\\\":\\\"Showers\\\",\\\"date\\\":\\\"Oct 12, 2014
        12:00:00 AM\\\"},{\\\"lowF\\\":63,\\\"highF\\\":73,\\\"iconDay\\\":\\\"1100\\\",\\\"iconNight\\\":\\\"2900\\\",\\\"skyDay\\\":11,\\\"skyNight\\\":29,\\\"phraseDay\\\":\\\"Showers\\\",\\\"phraseNight\\\":\\\"Partly
        Cloudy\\\",\\\"date\\\":\\\"Oct 13, 2014 12:00:00 AM\\\"}]},\\\"result\\\":true}\""
  recorded_at: Thu, 09 Oct 2014 00:46:07 GMT
recorded_with: VCR 2.9.3
