---
http_interactions:
- request:
    method: get
    uri: http://www.claritin.com/weatherpollenservice/weatherpollenservice.svc/getforecast/07302
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "\"{\\\"pollenForecast\\\":{\\\"zip\\\":\\\"07302\\\",\\\"city\\\":\\\"JERSEY
        CITY\\\",\\\"state\\\":\\\"NJ\\\",\\\"forecast\\\":[2.5,1.4,1.4,3.1],\\\"pp\\\":\\\"Ragweed.\\\",\\\"timestamp\\\":\\\"Oct
        6, 2014 3:31:08 PM\\\"},\\\"weatherForecast\\\":{\\\"date\\\":\\\"Oct 6, 2014
        3:36:22 PM\\\",\\\"city\\\":\\\"Jersey City\\\",\\\"state\\\":\\\"NJ\\\",\\\"zip\\\":\\\"07302\\\",\\\"forecast\\\":[{\\\"lowF\\\":60,\\\"highF\\\":68,\\\"iconDay\\\":\\\"3200\\\",\\\"iconNight\\\":\\\"3300\\\",\\\"skyDay\\\":32,\\\"skyNight\\\":33,\\\"phraseDay\\\":\\\"Sunny\\\",\\\"phraseNight\\\":\\\"Mostly
        Clear\\\",\\\"date\\\":\\\"Oct 6, 2014 12:00:00 AM\\\"},{\\\"lowF\\\":64,\\\"highF\\\":72,\\\"iconDay\\\":\\\"3000\\\",\\\"iconNight\\\":\\\"7200\\\",\\\"skyDay\\\":30,\\\"skyNight\\\":4,\\\"phraseDay\\\":\\\"Partly
        Cloudy\\\",\\\"phraseNight\\\":\\\"Thunderstorms Late\\\",\\\"date\\\":\\\"Oct
        7, 2014 12:00:00 AM\\\"},{\\\"lowF\\\":51,\\\"highF\\\":70,\\\"iconDay\\\":\\\"3000\\\",\\\"iconNight\\\":\\\"3100\\\",\\\"skyDay\\\":30,\\\"skyNight\\\":31,\\\"phraseDay\\\":\\\"Partly
        Cloudy\\\",\\\"phraseNight\\\":\\\"Clear\\\",\\\"date\\\":\\\"Oct 8, 2014
        12:00:00 AM\\\"},{\\\"lowF\\\":52,\\\"highF\\\":66,\\\"iconDay\\\":\\\"3200\\\",\\\"iconNight\\\":\\\"7100\\\",\\\"skyDay\\\":32,\\\"skyNight\\\":45,\\\"phraseDay\\\":\\\"Sunny\\\",\\\"phraseNight\\\":\\\"Showers
        Late\\\",\\\"date\\\":\\\"Oct 9, 2014 12:00:00 AM\\\"},{\\\"lowF\\\":49,\\\"highF\\\":63,\\\"iconDay\\\":\\\"1100\\\",\\\"iconNight\\\":\\\"2900\\\",\\\"skyDay\\\":11,\\\"skyNight\\\":29,\\\"phraseDay\\\":\\\"Showers\\\",\\\"phraseNight\\\":\\\"Partly
        Cloudy\\\",\\\"date\\\":\\\"Oct 10, 2014 12:00:00 AM\\\"},{\\\"lowF\\\":49,\\\"highF\\\":63,\\\"iconDay\\\":\\\"3000\\\",\\\"iconNight\\\":\\\"2900\\\",\\\"skyDay\\\":30,\\\"skyNight\\\":29,\\\"phraseDay\\\":\\\"Partly
        Cloudy\\\",\\\"phraseNight\\\":\\\"Partly Cloudy\\\",\\\"date\\\":\\\"Oct
        11, 2014 12:00:00 AM\\\"}]},\\\"result\\\":true}\""
  recorded_at: Mon, 06 Oct 2014 19:36:22 GMT
recorded_with: VCR 2.9.3
