---
http_interactions:
- request:
    method: get
    uri: http://www.claritin.com/weatherpollenservice/weatherpollenservice.svc/getforecast/07302
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "\"{\\\"pollenForecast\\\":{\\\"zip\\\":\\\"07302\\\",\\\"city\\\":\\\"JERSEY
        CITY\\\",\\\"state\\\":\\\"NJ\\\",\\\"forecast\\\":[2.3,2.3,2.3,1.8],\\\"pp\\\":\\\"Ragweed
        and Chenopods.\\\",\\\"timestamp\\\":\\\"Sep 30, 2014 3:31:07 PM\\\"},\\\"weatherForecast\\\":{\\\"date\\\":\\\"Sep
        30, 2014 5:24:48 PM\\\",\\\"city\\\":\\\"Jersey City\\\",\\\"state\\\":\\\"NJ\\\",\\\"zip\\\":\\\"07302\\\",\\\"forecast\\\":[{\\\"lowF\\\":60,\\\"highF\\\":73,\\\"iconDay\\\":\\\"3000\\\",\\\"iconNight\\\":\\\"2900\\\",\\\"skyDay\\\":30,\\\"skyNight\\\":29,\\\"phraseDay\\\":\\\"Partly
        Cloudy\\\",\\\"phraseNight\\\":\\\"Partly Cloudy\\\",\\\"date\\\":\\\"Sep
        30, 2014 12:00:00 AM\\\"},{\\\"lowF\\\":59,\\\"highF\\\":70,\\\"iconDay\\\":\\\"2600\\\",\\\"iconNight\\\":\\\"2900\\\",\\\"skyDay\\\":26,\\\"skyNight\\\":29,\\\"phraseDay\\\":\\\"Cloudy\\\",\\\"phraseNight\\\":\\\"Partly
        Cloudy\\\",\\\"date\\\":\\\"Oct 1, 2014 12:00:00 AM\\\"},{\\\"lowF\\\":58,\\\"highF\\\":72,\\\"iconDay\\\":\\\"3000\\\",\\\"iconNight\\\":\\\"2900\\\",\\\"skyDay\\\":30,\\\"skyNight\\\":29,\\\"phraseDay\\\":\\\"Partly
        Cloudy\\\",\\\"phraseNight\\\":\\\"Partly Cloudy\\\",\\\"date\\\":\\\"Oct
        2, 2014 12:00:00 AM\\\"},{\\\"lowF\\\":62,\\\"highF\\\":69,\\\"iconDay\\\":\\\"3000\\\",\\\"iconNight\\\":\\\"7300\\\",\\\"skyDay\\\":30,\\\"skyNight\\\":12,\\\"phraseDay\\\":\\\"Partly
        Cloudy\\\",\\\"phraseNight\\\":\\\"Rain Late\\\",\\\"date\\\":\\\"Oct 3, 2014
        12:00:00 AM\\\"},{\\\"lowF\\\":50,\\\"highF\\\":67,\\\"iconDay\\\":\\\"1200\\\",\\\"iconNight\\\":\\\"3100\\\",\\\"skyDay\\\":12,\\\"skyNight\\\":31,\\\"phraseDay\\\":\\\"Rain\\\",\\\"phraseNight\\\":\\\"Clear\\\",\\\"date\\\":\\\"Oct
        4, 2014 12:00:00 AM\\\"},{\\\"lowF\\\":51,\\\"highF\\\":66,\\\"iconDay\\\":\\\"3200\\\",\\\"iconNight\\\":\\\"3100\\\",\\\"skyDay\\\":32,\\\"skyNight\\\":31,\\\"phraseDay\\\":\\\"Sunny\\\",\\\"phraseNight\\\":\\\"Clear\\\",\\\"date\\\":\\\"Oct
        5, 2014 12:00:00 AM\\\"}]},\\\"result\\\":true}\""
  recorded_at: Tue, 30 Sep 2014 21:24:48 GMT
recorded_with: VCR 2.9.3
