---
http_interactions:
- request:
    method: get
    uri: http://www.claritin.com/weatherpollenservice/weatherpollenservice.svc/getforecast/07302
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "\"{\\\"pollenForecast\\\":{\\\"zip\\\":\\\"07302\\\",\\\"city\\\":\\\"JERSEY
        CITY\\\",\\\"state\\\":\\\"NJ\\\",\\\"forecast\\\":[2.8,0.4,3.7,3.9],\\\"pp\\\":\\\"Ragweed
        and Sagebrush\\/Sage.\\\",\\\"timestamp\\\":\\\"Sep 24, 2014 9:12:09 AM\\\"},\\\"weatherForecast\\\":{\\\"date\\\":\\\"Sep
        24, 2014 11:42:41 AM\\\",\\\"city\\\":\\\"Jersey City\\\",\\\"state\\\":\\\"NJ\\\",\\\"zip\\\":\\\"07302\\\",\\\"forecast\\\":[{\\\"lowF\\\":60,\\\"highF\\\":74,\\\"iconDay\\\":\\\"2800\\\",\\\"iconNight\\\":\\\"4000\\\",\\\"skyDay\\\":28,\\\"skyNight\\\":40,\\\"phraseDay\\\":\\\"Mostly
        Cloudy\\\",\\\"phraseNight\\\":\\\"Heavy Rain\\\",\\\"date\\\":\\\"Sep 24,
        2014 12:00:00 AM\\\"},{\\\"lowF\\\":57,\\\"highF\\\":63,\\\"iconDay\\\":\\\"4000\\\",\\\"iconNight\\\":\\\"1100\\\",\\\"skyDay\\\":40,\\\"skyNight\\\":11,\\\"phraseDay\\\":\\\"Heavy
        Rain\\\",\\\"phraseNight\\\":\\\"Showers\\\",\\\"date\\\":\\\"Sep 25, 2014
        12:00:00 AM\\\"},{\\\"lowF\\\":60,\\\"highF\\\":75,\\\"iconDay\\\":\\\"3400\\\",\\\"iconNight\\\":\\\"3100\\\",\\\"skyDay\\\":34,\\\"skyNight\\\":31,\\\"phraseDay\\\":\\\"Mostly
        Sunny\\\",\\\"phraseNight\\\":\\\"Clear\\\",\\\"date\\\":\\\"Sep 26, 2014
        12:00:00 AM\\\"},{\\\"lowF\\\":59,\\\"highF\\\":80,\\\"iconDay\\\":\\\"3200\\\",\\\"iconNight\\\":\\\"3100\\\",\\\"skyDay\\\":32,\\\"skyNight\\\":31,\\\"phraseDay\\\":\\\"Sunny\\\",\\\"phraseNight\\\":\\\"Clear\\\",\\\"date\\\":\\\"Sep
        27, 2014 12:00:00 AM\\\"},{\\\"lowF\\\":61,\\\"highF\\\":81,\\\"iconDay\\\":\\\"3200\\\",\\\"iconNight\\\":\\\"3300\\\",\\\"skyDay\\\":32,\\\"skyNight\\\":33,\\\"phraseDay\\\":\\\"Sunny\\\",\\\"phraseNight\\\":\\\"Mostly
        Clear\\\",\\\"date\\\":\\\"Sep 28, 2014 12:00:00 AM\\\"},{\\\"lowF\\\":60,\\\"highF\\\":79,\\\"iconDay\\\":\\\"2800\\\",\\\"iconNight\\\":\\\"2600\\\",\\\"skyDay\\\":28,\\\"skyNight\\\":26,\\\"phraseDay\\\":\\\"Mostly
        Cloudy\\\",\\\"phraseNight\\\":\\\"Cloudy\\\",\\\"date\\\":\\\"Sep 29, 2014
        12:00:00 AM\\\"}]},\\\"result\\\":true}\""
  recorded_at: Wed, 24 Sep 2014 15:42:40 GMT
recorded_with: VCR 2.9.3
