{"http_interactions":[{"request":{"method":"get","uri":"https://api.forecast.io/forecast/26d5fb8a79f9979b261f141cf7dd72c6/40.7212205,-74.04852590000002","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "X-Hostname":["strength"], "X-Forecast-Api-Calls":["11"], "Etag":["\"621526122\""], "X-Response-Time":["142ms"]},"body":{"encoding":"UTF-8","string":"{\"latitude\":40.7212205,\"longitude\":-74.04852590000002,\"timezone\":\"America/New_York\",\"offset\":-4,\"currently\":{\"time\":1411422225,\"summary\":\"Partly Cloudy\",\"icon\":\"partly-cloudy-day\",\"nearestStormDistance\":218,\"nearestStormBearing\":7,\"precipIntensity\":0,\"precipProbability\":0,\"temperature\":67.46,\"apparentTemperature\":67.46,\"dewPoint\":45.54,\"humidity\":0.45,\"windSpeed\":12.8,\"windBearing\":292,\"visibility\":10,\"cloudCover\":0.27,\"pressure\":1015.18,\"ozone\":302.33},\"minutely\":{\"summary\":\"Partly cloudy for the hour.\",\"icon\":\"partly-cloudy-day\",\"data\":[{\"time\":1411422180,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1411422240,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1411422300,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1411422360,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1411422420,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1411422480,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1411422540,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1411422600,\"[...]
